@using Microsoft.AspNetCore.Components.Web
@using WeatherCast.Data

@namespace WeatherCast.Component

@inject IWeatherForecastServices ForecastServices

@if (Auto == true) {
    <p role="status">Current count: @currentCount</p>
}
@if (Auto == true && Forecasts is null) {
    <p><em>Loading...</em></p>
} else if ((Auto != true && Forecast is not null) || Forecasts is not null) {
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @if (Forecast is not null) {
                <tr>
                    <td>@Forecast.Date.ToShortDateString()</td>
                    <td>@Forecast.TemperatureC</td>
                    <td>@Forecast.TemperatureF</td>
                    <td>@Forecast.Summary</td>
                </tr>
            }
            @if (Forecasts is not null) {
                @foreach (var forecast in Forecasts) {
                    <tr>
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.Summary</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <p>This component demonstrates showing data.</p>
    @if (Auto == true) {
        <button class="btn btn-primary" @onclick="IncrementCount">Update</button>
    }
}


